//please rename this file to testconfig_test.go
package sqlcache

var testConfig = `{
                    "Driver":"mysql",
                    "DataSource":"dbname:password@tcp(127.0.0.1:3306)/database",
                    "Table":"cache",
                    "Name":"",
                    "MaxIdleConns":10,
                    "ConnMaxLifetimeInSecond":3600,
                    "MaxOpenConns":10
                }`
