//please rename this file to testconfig_test.go
package rediscache

var testConfig = `{
            "Network": "tcp",
            "Address": "127.0.0.1:6379",
            "Password": "123456",
            "Name":"Cache",
            "Db": 1,
            "ConnectTimeoutInSecond": 60,
            "ReadTimeoutInSecond": 60,
            "WriteTimeoutInSecond": 60,
            "MaxIdle": 100,
            "MaxAlive": 200,
            "IdleTimeoutInSecond": 60
        }`
