//please rename this file to testconfig_test.go
package rediscache

var testConfig = `{
            "Network": "\"tcp\"",
            "Address": "\"127.0.0.1:6379\"",
            "Password": "\"13512138898\"",
            "Name":"\"Cache\"",
            "Db": "1",
            "ConnectTimeout": "60",
            "ReadTimeout": "60",
            "WriteTimeout": "60",
            "MaxIdle": "100",
            "MaxAlive": "200",
            "IdleTimeout": "60"
        }`
